Experiments/apriltag_detection/__pycache__
venv/
captured_frames/
captured_frames_2/
captured_frames_old/
Experiments/distance/__pycache__/
__pycache__/
/Experiments/distance/__pycache__
/Experiments/distance/__pycache__
Experiments/distance/__pycache__/estimate_dist.cpython-311.pyc
/Experiments/distance/__pycache__
*.zip
